<%- include('partials/header') %>


<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Welcome to your profile <%= user.username %></h1>
   
      <hr>

      <a class="btn btn-light btn-lg" href="/auth/logout" role="button" style="margin-top: 200px;">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button" style="margin-top: 200px;" >Submit a Secret</a>
    </div>
  </div>

<%- include('partials/footer') %>